<div class="product-card-pro">
    
    <div class="card-top">
      <div class="brand-pill">{{ shopProduct.brandName }}</div>
      <h2 class="product-title">{{ shopProduct.name }}</h2>
    </div>

    <div class="card-bottom">
      <div class="card-actions-pro">
        <button class="btn-buy" (click)="buyItem(shopProduct.id)">
          <mat-icon>shopping_cart</mat-icon> Comprar
        </button>
        <button class="btn-details" (click)="goDetailPage(shopProduct.id)">
          Ver detalle
        </button>
      </div>
    </div>
    
</div>