.form-card {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px; // separación entre elementos
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full {
  width: 100%;
}
