<header class="dashboard-header">
  <h1>LISTADO DE PEDIDOS</h1>
</header>

<div class="panel-container">
  <div class="table-header">
    <h2>LISTADO GENERAL PEDIDOS</h2>
    <div class="count-tag" *ngIf="data$ | async as pedidos">
      TOTAL: {{ pedidos.length }}
    </div>
  </div>

  <div *ngIf="data$ | async as pedidos; else loading">
    <table class="cp-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>CLIENTE / CONTACTO</th>
          <th>FECHA CREACIÓN</th>
          <th>ESTADO ORDEN</th>
          <th>IMPORTE TOTAL</th>
          <th style="text-align: center">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let o of pedidos">
          <td class="id-cell">{{ o.id }}</td>

          <td>
            <div class="object-info">
              <span class="object-main">{{ o.userName | uppercase }}</span>
              <span class="object-sub">{{ o.userEmail }}</span>
            </div>
          </td>

          <td>{{ o.created | date:'dd/MM/yyyy · HH:mm' }}</td>

          <td>
            <span class="status-badge" [ngClass]="o.shopOrderStatusName.toLowerCase()">
              {{ o.shopOrderStatusName }}
            </span>
          </td>

          <td class="price-cell">
            {{ o.totalAmount | currency:'EUR' }}
          </td>

          <td style="text-align: center">
            <div class="actions-wrapper">
              <button class="btn-management btn-view" title="Ver Detalles de Compra" (click)="goToDetail(o.id)">
                <mat-icon>visibility</mat-icon>
              </button>
              <button *ngIf="o.shopOrderStatusName !== 'Cancelado'" class="btn-management btn-delete"
                title="Anular Pedido" (click)="cancelOrderId(o.id)">
                <mat-icon>block</mat-icon>
              </button>
              <button class="btn-management btn-view" title="Descargar factura en PDF" (click)="downloadInvoice(o.id)"
                style="color: #fbc02d;">
                <mat-icon>file_download</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #loading>
    <div class="pending-container">
      <div class="spinner-mini"></div>
      <p>Sincronizando órdenes con el servidor...</p>
    </div>
  </ng-template>
</div>